{% extends 'blog/base.html' %}

{% block content %}
    <dev class='user'>
        <h1>Perfil {{ user.username }}</h1>
        {% if usuario == user %}
            <dev class='save' >
                <a class="btn btn-default" href="{% url 'blog:post-save-list' %}">Ver posts guardados <span class="glyphicon glyphicon-bookmark"></span></a>
            </dev><br>
            <h2> Mis posts </h2>
        {% else %}
            <h2> Sus post </h2>
        {% endif %}
        {% for post in posts %}
            <div class="post-user">
                <div class="date">
                    {% if post.published_date == none %}
                        <p>Borrador</p>
                    {% else %}
                        {{ post.published_date }}
                    {% endif %}
                </div>
                <h3><a href="{% url 'blog:post-detail' pk=post.pk %}">{{post.title}}</a></h3>
                <p>{{ post.text|linebreaksbr }}</p>
                <h5><a href="{% url 'blog:post-detail' pk=post.pk %}">Cometarios: {{ post.approved_comments.count }}</a></h5>
                <br>
            </div>
        {% empty %}
            {% if usuario == user %}
                Todavia no tienes post creados. Recuerda que con el boton (<span class="glyphicon glyphicon-plus"></span>) puedes hacerlo facilmente. No olvide publicarlos ;)
            {% else %}
                Este usuario todavía no tiene posts :(
            {% endif %}
        {% endfor %}
    </dev><br><br>
{% endblock %}
