{% extends "blog/base.html" %}

{% block content %}
    {% if form.errors %}
        <p>Su usuario y contraseña no coincide. Por favor vuelva a probar.</p>
    {% endif %}
    <div class='button'>
        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
            <h2>Iniciar sesión</h2>
            <br>
            <table>
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
            </table>
            <br>
            <input type="submit" value="Iniciar sesión" />
            <input type="hidden" name="next" value="{{ next }}" />
            <a href="/register"><input type="submit" value="Registrarse"></input></a>
        </form>
    <div/>
{% endblock %}
