{% extends 'blog/base.html' %}

{% block content %}
    <div class="post-detail">
        {% if user == post.author %}
            <a class="btn btn-default" href="{% url 'blog:post-remove' pk=post.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
            <a class="btn btn-default" href="{% url 'blog:post-edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"><span></a>
        {% endif %}
        {% if not post.published_date %}
            <a class="btn btn-default" href="{% url 'blog:post-publish' pk=post.pk %}">Publicar</a>            
        {% else %}
            <br><br>
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
        <br><br>
        <div class="post-author">
            Autor: {{ post.author }}
        </div>
    </div>
    <hr>
        <h2>Comentarios</h2>
        {% for comment in post.comments.all %}
            {% if user.is_authenticated or comment_.approved_comment %}
            <div class="comment">
                <strong>{{ comment.author }}</strong><br>
                <div class="comment-date">
                    {{ comment.created_date }}
                </div>
                <div class="comment-icon">
                    {% if user.username == comment.author or user == post.author %}
                        <a class="btn btn-default" href="{% url 'blog:comment-remove' pk=comment.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
                    {% endif %}
                </div><br>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
            {% endif %}
        {% empty %}
            <p>No comments here yet :(</p>
    {% endfor %}<br>
    {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'blog:add-comment-to-post' pk=post.pk %}">Añadir comentario</a>
    {% else %}
        <a class="btn btn-default" href="{% url 'login' %}">Añadir comentario</a>
    {% endif %}
    <br><br>
{% endblock %}
