body {
    padding-left:15px;
    background-color: #d2f1f7;
}
.page-header {
    background-color:#1a7181;
    margin-top:0;
    padding:20px 20px 20px 40px;
}
.page-title {
    margin-top:0;
    padding:20px 20px 20px 40px;
}
.page-title h1{
    color: #000000;
    font-size:36pt;
    text-decoration: none;
}
.page-title h2{
    color: #000000;
    font-size:30pt;
    text-decoration: none;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size:36pt;
    text-decoration: none;
}
.page-header h1 p {
    color: #ffffff;
    font-size:5pt;
    text-decoration: none;
}
.content{
    margin-left:40px;
}
h1, h2, h3, h4{
    font-family:'Avantgarde', TeX Gyre Adventor, URW Gothic L, sans-serif;
}

.date{
    float: right;
    color:#828282;
}
.comment-date{
    float: left;
    color:#A8A8A8;
}
.comment-icon{
    float: right;
}
.post-author{
    float: right;
    color:#828282;
    font-size:17px;
}
.save{
    float: right;
}
.post-formtextarea, .post-forminput, .post-detail-formtextarea, .post-detail-forminput{
    width:100%;
}
.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size:26pt;
    margin-right:20px;
}
.post, .post-detail{
    margin-bottom:70px;
}
.post h1 a, .post h1 a:visited, .post-detail h1 a, .post-detail, hi a:visited {
    color: #000000;
}
.post-detail a{
    float: right;
}

.comment {
    margin: 20px 0px 20px 20px;
}
